@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide h1 because of accessibility */
h1 {
	clip: rect(0 0 0 0);
	@apply
		border-0
		h-[1px]
		m-[-1px]
		overflow-hidden
		p-0
		absolute
		w-[1px];
}

h2 {
	@apply
		uppercase
		font-rpc-bsd
		font-bold
		text-3xl
		mb-10;
}

img {
	@apply
		mb-8;
}

p {
	@apply
		text-sm
		text-prc-transparent-white;
}

button {
	@apply
	bg-prc-very-light-gray
		p-4
		px-8
		rounded-full
		border-2
	border-r-prc-very-light-gray
	hover:text-prc-very-light-gray
		hover:bg-transparent
		transition-all
		duration-150;
}